@import '@/node_modules/vuetify/src/styles/styles.sass';

:root {
  --breakpoints-xs: #{map-get($grid-breakpoints, 'xs')};
  --breakpoints-sm: #{map-get($grid-breakpoints, 'sm')};
  --breakpoints-md: #{map-get($grid-breakpoints, 'md')};
  --breakpoints-lg: #{map-get($grid-breakpoints, 'lg')};
}
